:root {
  --main-height:100px;
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: 300px 1fr;
}
#navbar {
  font: 16px arial, sans-serif;
  border-right: 3px solid #A8A8A8;
  background-color: white;
}
#nav-header {
  text-align: center;
  font-size: 26px;
  padding: 20px 0;
}
.nav-link {
  color: black;
  display: block;
  text-decoration: none;
  padding: 9px 20px;
  border-top: 1px solid black;
}
#main-doc{
  padding: 0 20px 10px;
  font: 15px arial, sans-serif;
  overflow: scroll;
  height: 100vh;
  scroll-behavior: smooth;
}
.sec-header {
  font: 24px arial, sans-serif;
  padding-top: 10px;
}
li {
  padding: 10px 0;
}
code {
  display: block;
  padding: 15px;
  background-color: #F7F7F7;
  font-size: 13px;
  line-height: 22px;
}
@media screen and (max-width: 815px) {
  body {
    display: flex;
    flex-direction: column;
  }
   #navbar {
    overflow: scroll;
    scroll-behavior: smooth;
    border-bottom: 1px solid black;
    position: static;
    flex-basis: 196px;
    flex-shrink: 0;
  }
  #nav-header {
    height: 34px;
    position: fixed;
    width: 100vw;
    background-color: white;
    padding: 5px;
  }
  #nav-div {
    margin-top: 44px;
    height: 162px;
/*     position: fixed; */
    width 100vw;
  }
  #main-doc{
    font: 15px arial, sans-serif;
    height: var(--main-height);
    overflow: scroll;
  }
}
